/** Font Sizes */
$sizes: (8, 10, 11, 12, 13, 14, 15, 16, 18, 20, 24, 26, 28, 32, 36, 38, 40);

@each $size in $sizes {
	.fz--#{$size} {
		font-size: #{$size}px;
	}
}

/* Font Weight */
$weights: (
	"regular": 400,
	"medium": 500,
	"semibold": 540,
);

@each $weight, $value in $weights {
	.fw--#{$weight} {
		font-variation-settings: "wght" $value;
	}
}

/* Line Height (%) */
$heights: (
	100: 1,
	110: 1.1,
	120: 1.2,
	130: 1.3,
	140: 1.4,
	150: 1.5,
	160: 1.6,
	180: 1.8,
);

@each $height, $value in $heights {
	.lh--#{$height} {
		line-height: #{$value};
	}
}

/* Text Align */
$alignments: (
	center: "center",
	left: "left",
	right: "right",
);

@each $align, $value in $alignments {
	.ta--#{$align} {
		text-align: #{$value};
	}
}

/* Colors */
$textColors: (
	"primary": "--txt-primary",
	"secondary": "--txt-secondary",
	"tertiary": "--txt-tertiary",
	"support": "--txt-support",
	"black": "--txt-black",
	"white": "--txt-white",
	"blue": "--blue",
	"orange": "--orange",
	"green": "--green",
	"red": "--red",
	"yellow": "--yellow",
);

@each $key, $value in $textColors {
	.color--#{$key} {
		color: var(#{$value});
	}
}

@each $key, $value in $textColors {
	.fill--#{$key} {
		fill: var(#{$value});
	}
}

/* Other */
.no-wrap {
	white-space: nowrap;
}

.mono {
	font-family: JetBrains Mono;
}

.tabular {
	font-variant: tabular-nums;
}

.selectable {
	user-select: text;
}
